*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    width:1000px;
    height:402px;
    margin:100px auto;
    border:1px solid rgb(253,103,0);
    position: relative;
    overflow:hidden;
}

.container .content{
    width: 100px;
    height:100px;
    background: rgb(233,0,0);
    position: absolute;
    top:0;
    left:0;
}
