*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    width:1000px;
    padding:20px;
    margin:100px auto;
    border:1px solid #ccc;
}
.container .title{
    background:#000;
    color:#fff;
    border-radius:5px;
    padding:0 20px;
    display:inline-block;
    height:30px;
    line-height:30px;
}
.container .info{
    padding:0 20px;
    margin:10px 0;
    height:50px;
    overflow:hidden;
    line-height:50px;
    position: relative;
    border-radius:5px;
    color:#fff;
    transition:0.3s;
}
.container .info .closeBtn{
    position: absolute;
    top:0px;
    right:20px;
    font-size:20px;
    cursor: pointer;
}
.container .danger{
    background:rgb(199,0,0);
}
.container .warning{
    background:rgb(199,199,0);
}
.container .prompt{
    background: rgb(0,0,199);
}
.container .success{
    background:rgb(0,199,0);
}

.container .info.close{
    height:0;
}